.sidenav {
    height: auto;
    top: 0;
    left: 20px;
    width: 10%;
    position: fixed;
    font-size: 40px;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    background-color: #0e384e;
    color: white;
    border: 5px solid #41d7f6;
    border-radius: 7px;
}

.sidenav button {
    display: block;
    text-align: center;
    margin: 5px;
    padding: 10px;
    width: 95%;
    background-color: #0e384e;
    color: white;
    border: 5px solid #41d7f6;
    border-radius: 7px;
    text-shadow: 2px 2px 30px #41d7f6;
    -webkit-transition: box-shadow 200ms ease, color 200ms ease;
    transition: box-shadow 200ms ease, color 300ms ease;
}

.sidenav button:hover {
    box-shadow: 0 0 40px 40px #41d7f6 inset;
}