.main {
    justify-content: center;
    align-items: center;
}

.main h1 {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #0e384e;
    border: 5px solid #41d7f6;
    border-radius: 7px;
    min-width: 525px;
    box-shadow: 2px 2px 10px #41d7f6;
    color: white;
    word-break: break-word;
}